extends layout

block content
	div.container
		h1 Aplicación de Integración Demo Connections Cloud
		p.lead
			| Usa esta aplicación como ejemplo de tu integración de aplicaciones colaborativas bajo la plataforma de IBM Connections Cloud.<br>
		p(class="text-muted credit")
			| Ejemplo creado por <a href="http://martinbean.co.uk">Luis Flórez</a> y <a href="http://ryanfait.com/sticky-footer/">Jhonattan Vega</a>.